@model Dictionary<string, Attendance>

<tr>
    @{var current = Model["Child"];}
    @{var time = current.date.Hour + ":00";}
    <td>@time</td>
    <td time="@time" age="Child" id="@current.id">
        <div class="currentValue">@current.total</div>
        <form class="tallier" style="display: none">
            <input type="number" class="numberEntry" min="0" max="9999" value="@current.total">
            <span data-toggle="tooltip" data-placement="top" title="Save" class="saver glyphicon glyphicon-ok"></span>
            <span data-toggle="tooltip" data-placement="top" title="Cancel" class="canceller glyphicon glyphicon-remove"></span>
        </form>
    </td>
    @{current = Model["Teen"];}
    <td time="@time" age="Teen" id="@current.id">
        <div class="currentValue">@current.total</div>
        <form class="tallier" style="display: none">
            <input type="number" class="numberEntry" min="0" max="9999" value="@current.total">
            <span data-toggle="tooltip" data-placement="top" title="Save" class="saver glyphicon glyphicon-ok"></span>
            <span data-toggle="tooltip" data-placement="top" title="Cancel" class="canceller glyphicon glyphicon-remove"></span>
        </form>
    </td>
    @{current = Model["Young Adult"];}
    <td time="@time" age="Young Adult" id="@current.id">
        <div class="currentValue">@current.total</div>
        <form class="tallier" style="display: none">
            <input type="number" class="numberEntry" min="0" max="9999" value="@current.total">
            <span data-toggle="tooltip" data-placement="top" title="Save" class="saver glyphicon glyphicon-ok"></span>
            <span data-toggle="tooltip" data-placement="top" title="Cancel" class="canceller glyphicon glyphicon-remove"></span>
        </form>
    </td>
    @{current = Model["Adult"];}
    <td time="@time" age="Adult" id="@current.id">
        <div class="currentValue">@current.total</div>
        <form class="tallier" style="display: none">
            <input type="number" class="numberEntry" min="0" max="9999" value="@current.total">
            <span data-toggle="tooltip" data-placement="top" title="Save" class="saver glyphicon glyphicon-ok"></span>
            <span data-toggle="tooltip" data-placement="top" title="Cancel" class="canceller glyphicon glyphicon-remove"></span>
        </form>
    </td>
    @{current = Model["Senior"];}
    <td time="@time" age="Senior" id="@current.id">
        <div class="currentValue">@current.total</div>
        <form class="tallier" style="display: none">
            <input type="number" class="numberEntry" min="0" max="9999" value="@current.total">
            <span data-toggle="tooltip" data-placement="top" title="Save" class="saver glyphicon glyphicon-ok"></span>
            <span data-toggle="tooltip" data-placement="top" title="Cancel" class="canceller glyphicon glyphicon-remove"></span>
        </form>
    </td>
</tr>